In [ ]:
-- drop database if exist
DROP DATABASE IF EXISTS OfficeHours CASCADE

In [ ]:
-- Database if not exist
CREATE DATABASE IF NOT EXISTS OfficeHours

In [ ]:
CREATE TABLE OfficeHours.havefun(
    InstructorName VARCHAR(50),
    CourseName VARCHAR(50),
    IsPrimary INT
)

In [ ]:
-- will create one files
INSERT INTO OfficeHours.havefun
SELECT 'Rob Foulkrod'A,'DP-203'B,1 C UNION
SELECT 'Jean Joseph','DP-203',0;

In [ ]:
-- will create two files
INSERT INTO OfficeHours.havefun
VALUES('Rob Foulkrod','DP-203',1);

INSERT INTO OfficeHours.havefun
VALUES('Jean Joseph','DP-203',0)

In [ ]:
-- will failed to update
update OfficeHours.havefun set InstructorName='Rob Foulkrod'

In [ ]:
-- drop database if exist
DROP DATABASE IF EXISTS OfficeHours CASCADE